{% extends 'core/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="flex flex-wrap">
  <!-- Shipping-Form Section -->
  <div class="w-full md:w-2/5">
    <div class="bg-blue-600 rounded-xl p-6">
      <h3 class="text-black mb-4 font-bold">SHIPPING INFORMATION:</h3>
      <form class="grid grid-cols-2 gap-4" id="shipping-form">
        <div id="shippingInfo">
          <div>
            <label for="address" class="block text-white">Address</label>
            <input type="text" id="address" name="address" required class="w-full py-2 px-4 border border-gray-300 rounded-xl focus:outline-none focus:border-blue-700">
          </div>
          <div>
            <label for="city" class="block text-white">City</label>
            <input type="text" id="city" name="city" required class="w-full py-2 px-4 border border-gray-300 rounded-xl focus:outline-none focus:border-blue-700">
          </div>
          <div>
            <label for="state" class="block text-white">State</label>
            <input type="text" id="state" name="state" required class="w-full py-2 px-4 border border-gray-300 rounded-xl focus:outline-none focus:border-blue-700">
          </div>
          <div>
            <label for="zipcode" class="block text-white">Zipcode</label>
            <input type="text" id="zipcode" name="zipcode" pattern="[0-9]{5}" required class="w-full py-2 px-4 border border-gray-300 rounded-xl focus:outline-none focus:border-blue-700" placeholder="Valid zip code (5 number)">
          </div>
        </div>

        <div class="col-span-2 mt-4">
          <div class="flex justify-end">
            <a href="#" onclick="validateForm()" class="bg-blue-700 hover:bg-blue-900 text-white py-2 px-4 rounded-xl cursor-pointer">Continue</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- White Space Section -->
  <div class="w-full md:w-1/5"></div>

  <!-- Order Summary Section -->
  <div class="w-full md:w-2/5">
    <div class="bg-blue-600 rounded-xl p-6">
      <h3 class="text-white">Order Summary</h3>
      <div class="border border-gray-900 rounded-xl p-4 mt-4">
        <div class="flex justify-between items-center">
          <span class="font-bold">Total Price:</span>
          <span class="font-bold">{{ total_price }}</span>
        </div>
        <hr class="my-2 border-gray-700"> <!-- Linea orizzontale -->
        {% for cartItem in cartItems %}
        <div class="flex justify-between items-center">
          <span>{{ cartItem.item.name }}</span>
          <span>{{ cartItem.item.price }}</span>
        </div>
        <div class="flex justify-between items-center">
          <span>Quantity: {{ cartItem.quantity }}</span>
          <span>Total: {{ cartItem.total_price }}</span>
        </div>
        <hr class="my-2 border-gray-700">
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script>
function validateForm() {
  var zipcodeInput = document.getElementById("zipcode");
  var zipcodePattern = /^\d{5}$/;
  
  if (!zipcodePattern.test(zipcodeInput.value)) {
    alert("Invalid zip code. Please enter a valid 5-digit zip code.");
    return false;
  }
  
  // Se il codice zip è valido, puoi procedere con il link "Continue"
  window.location.href = "{% url 'core:payment' %}";
}
</script>

{% endblock %}





